<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{index :: head}">
    <meta charset="UTF-8">
    <title>Cadastro de Aluno</title>
</head>
<body>
<div class="container">
    <div th:insert="~{index :: menu}"></div>
    <br/>

    <form th:object="${alunoDTO}">
        <input hidden name="id" th:value="*{id}" type="text"/>

        <div class="mb-3">
            <label for="usuario" class="form-label">Usuário (Email)</label>
            <select class="form-control" id="usuario" name="usuarioId" required>
                <option value="">Selecione um usuário</option>
                <option th:each="usuario : ${usuarios}"
                        th:value="${usuario.id}"
                        th:text="${usuario.email}"
                        th:selected="*{usuarioId} == ${usuario.id}">
                </option>
            </select>
        </div>

        <div class="mb-3">
            <label for="turma" class="form-label">Turma</label>
            <select class="form-control" id="turma" name="turmaId" required>
                <option value="">Selecione uma turma</option>
                <option th:each="turma : ${turmas}"
                        th:value="${turma.id}"
                        th:text="${turma.nome}"
                        th:selected="*{turmaId} == ${turma.id}">
                </option>
            </select>
        </div>

        <button class="btn btn-dark" formmethod="post" th:formaction="@{/aluno/salvar}" type="submit">Salvar</button>
    </form>
</div>

<div th:insert="~{index :: script}"></div>
</body>
</html>
